
/**
 * common stuff
 */

html, body {
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
}

.nav-userinfo {
	font-weight: bold;
}
#content {
	xbackground: #aaa;
	margin-left: 250px;
}
body{
	font-size: 14px;
	font-family: "Segoe UI", arial, verdana, sans-serif;
	color: #444;
}

/* overridar lite theme-grejjer eftersom jag vill kunna ladda hem senaste jqueryui utan att riskera att skriva över egna saker */
.ui-widget {
	font-family: "Segoe UI", arial, verdana, sans-serif;
	font-size: 1em;
}
.ui-accordion .ui-accordion-content {
	padding: .5em 1em .5em 2em;
}
.ui-widget-overlay {
	opacity: .6;
}


/* filament group buttons*/
	.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
	.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }

	a.fg-button { float:left; }

	/* remove extra button width in IE */
	button.fg-button { width:auto; overflow:visible; }

	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }

	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */

	.fg-buttonset { float:left; }
	.fg-buttonset .fg-button { float: left; }
	.fg-buttonset-single .fg-button,
	.fg-buttonset-multi .fg-button { margin-right: -1px;}

	.fg-toolbar { padding: .5em; margin: 0;  }
	.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
	.fg-toolbar .fg-button { font-size: 1em;  }

/* end theme-stuff*/


a:focus {
	outline: 1px dotted #333;
}
.clearer {
display: block; clear: both;
}

/*
a:link,
a:visited,
a:hover,
a:active {
color: black;
text-decoration: underline;
}
*/
a {
	color: black;
	text-decoration: underline;
}
h1 {
	font-weight: normal;
	font-size: 1.6em;
}

h2 {
	border-top: 1px solid #ccc;
	background-color: #eee;
	margin: 1em 0 1em 0;
	padding: .5ex;
}

.okmsg, .errmsg, .infomsg {
	padding: 1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
.errmsg {
	background-color: #F7D2D2;
	border: 2px solid #bbb;
}
.okmsg {
	background-color:#CFEEC8;
	border: 2px solid #aaa;
}
.infomsg {
	background-color: #e0e0e0;
	border: 2px solid #bbb;
}



p {
	margin-top: 1em;
	margin-bottom: 1em;
}


/**
* knappar 
*/
.buttons {
height: 26px;
background-color: #dde;
padding: 3px 3px 3px 3px;
}
.buttons a {
xheight: 18px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:active
{
border-top: 1px solid #eee;
border-left: 1px solid #eee;
border-bottom: 1px solid #999;
border-right: 1px solid #999;
xfont-weight: bold;
text-decoration: none;
color: black;
background-color: #eee;
padding: 3px 3px 3px 3px;
float: left;
margin: 0 10px 0 0;
}

a.button:hover {
background-color: #f5f5f5;
}

a.button-disabled:link,
a.button-disabled:visited,
a.button-disabled:hover,
a.button-disabled:active
{
color: #ccc;
border-color: #ccc;
cursor: default;
opacity: 0.5;
}

/* end knappar */


/**
 * formulär 
 */
.fields .group {
	clear: both;
	width: 99%;
	margin: 0 0 1em 0;
}
.fields .group label {
	font-weight: bold;
	display: block;
}
.fields .col {
	float: left;
	margin-right: .5ex;
}
.fields .col label, .fields .full label {
	font-weight: normal;
	color: #666;
}
.fields .col.left, .fields .col.right {
	width: 48%;
	margin: 0;
}
.fields .col.left {
	float:left;
}
.fields .col.right {
	float:right;
	margin-right: 1%;
}
.fields .col.left input, .fields .col.right input, .fields .full, .fields .full input {
width: 98%;
}
.fields .full {
clear: both;
}
.fields .col, .fields .full {
	height: 3.25em;
}
.fields .col label, .fields .full label {
	position: relative;
	/*top: 1.5em;*/
}
.fields .col input, .fields .full input,
.fields .col span, .fields .full span
 {
	position: relative;
	/*top: -1em;*/
}
.fields h3 {
display: block;
clear: both;
margin: 0 0 .5em 0;
padding-top: .5em;
border-top: 1px solid #ccc;
}
.fields .checkboxes input {
	display: block;
}
.fields .checkboxes label {
	font-weight: normal;
	margin: -1em 0 0 25px;
}
.fields .actions {
margin-top: 1.25em;
border-bottom: 1px solid #ccc;
padding: .5em;
background: #f6f6f6;
}
/* end formulär */


/**
 * Page "settings"
 */
.polarbear-page-settings-frm textarea {
	width: 75%;
	height: 10em;
}
.polarbear-page-settings-frm input.text {
	width: 75%;
}
.polarbear-page-settings-frm .settings-list-required,
.polarbear-page-settings-frm .settings-list
{
list-style-type: none;
margin-top: 1em;
margin-left: 0;
}
.polarbear-page-settings-frm .settings-list-required li,
.polarbear-page-settings-frm .settings-list li
 {
margin-top: 1em;
}


.polarbear-page-settings-frm li p {
	margin: 0 0 .25em 0;
}
.polarbear-page-settings-frm li p.description {
	color: #777;
	font-size: 12px;
}

/**
 * Page "Users"
 */
.polarbear-page-users div.users-view-one-user p {
	margin-bottom: 1em;
}
.polarbear-page-users .droppable-active {
background-color: lightyellow;
}
.polarbear-page-users .droppable-hover {
background-color: yellow;
}
       
.polarbear-page-users ul {
    clear: both;
}

.users-view-one-user p {
margin-top: 0;
}
.users-view-one-user h3 {
margin-top: .5em;
}
#users-userdetails {
margin-top: .5em;
padding: 0 10px 10px 10px;
}

#users-groups, #users-userlist, #article-edit-choose-author-users-groups {
	list-style-type: none;
	margin-left: 10px;
}

#users-group-list a, #users-userlist a {
    color: black;
    text-decoration: none;
} 
#users-group-list a:hover, #users-userlist a:hover {
    text-decoration: underline;
} 
#users-group-list a.group-active, #users-userlist a.user-active {
    font-weight: bold;
} 

#users-groups li.groupID-latestChanged, 
#users-groups li.groupID-admins,
#article-edit-choose-author-users-groups li.groupID-latestChanged,
#article-edit-choose-author-users-groups li.groupID-admins
 {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
    
#users-groups li,
#users-userlist li,
#article-edit-choose-author-users-groups li
{
margin-bottom: 6px;
margin-top: 6px;
}


#users-userlist li span.email {
	color: #999;
	font-size: .9em;
	display: block;
}

#users-groups li .group-count,
#article-edit-choose-author-users-groups li .group-count
 {
top: 6px;
right: 0;
color: #666;
font-size: .8em;
margin-right: 1ex;
}

#user_edit_values_container .col{
margin-top: .5em;
}
#users-edit-change-password {
margin-top: 0;
}


.module {
	xfont-size: 1.2em;
}

.module-menu-global {
	margin: 1em 0 0 1em;
}
.module-menu-global li {
	margin-top: .5em;
}

input.text {
	padding: .3em;
}
textarea {
	padding: .3em;
}

#article-edit-form {
	margin: 15px;
}
#article-edit-form #article-title {
	font-size: 1.1em;
}
#article-edit-form label {
	display: block;
	font-weight: bold;
}
#article-edit-form label.for-checkbox,
#article-edit-form label.for-radio
 {
	display: inline;
	font-weight: normal;
}
#article-edit-form input.text {
	width: 98%;
	padding: .4em;
}
#article-edit-form textarea {
	width: 100%;
}
#article-shortName-change-input-wrapper input.text {
	width: auto;
}
#article-edit-form div.row {
	margin-bottom: 1em;
}

#article-edit-form .primary {
	float: left;
	width: 55%;
}
#article-edit-form .secondary {
	float: right;
	width: 40%;
	padding: 1em 1em 1em 1em;
	
}

#article-teaser {
	height: 6em;
}
#article-body {
	height: 22em;
}

.polarbear-afterbuttons {
	float: left;
	margin-top: .5em;
}
.polarbear-afterbuttons-text {
	float: left;
	margin-left: 1ex;
	margin-right: 1ex;
}

fieldset {
	border: 1px solid #ccc;
	padding: 1em;
	width: 95%;
	margin-top: 1em;
}

#article-shortName-preview:hover {
background-color: #FFFFD3;
}

ul.polarbear-article-edit-fields-repeatable {
list-style-type: none;
margin: 0;
}
ul.polarbear-article-edit-fields-repeatable li {
	margin: 0em 0 0 0;
	padding: 0em 1em 1em 1em;
	border-top: 1px solid #ccc;
}
ul.polarbear-article-edit-fields-repeatable li:hover {
	background-color: #FFF9DD;
	cursor: move;
}
ul.polarbear-article-edit-fields-repeatable li.active {
	background-color: #FFF4C2;
}	

ul.polarbear-article-edit-fields-repeatable label {
	xmargin-top: 1em;
	padding-top: 1em;
}
#article-edit-form ul.polarbear-article-edit-fields-repeatable input.text,
#article-edit-form ul.polarbear-article-edit-fields-repeatable textarea,
#article-edit-form ul.polarbear-article-edit-fields-repeatable label
{
	width: 90%;
}

.polarbear-article-edit-fields-repeatable-remove {
float: right;
margin-top: 1em;
}

.polarbear-article-edit-fields-nonrepeatable {
	margin: 0;
	list-style-type: none;
}

.pb-leftframe-meta {
	border-top: 1px solid #ccc;
	padding: 0 10px 10px 10px;
}

/* tags */
.pb-tags-south, .maj-tags-south {
	clear: both;
}
#pb-article-edit-tags .maj-tags-north ul {
list-style-type: none;
margin: 0;
}
#pb-article-edit-tags .maj-tags-link-edit {
	display: block;
	margin-top: 1em;
}
#article-edit-form #pb-article-edit-tags .maj-tags-north ul label {
	display: inline;
	font-weight:  normal;
}
#article-edit-form #pb-article-edit-tags .maj-tags-north ul ul {
	margin-left: 20px;
}

#pb-article-edit-tags ul {
clear: both;
}
#pb-article-edit-tags ul li {
/* float: left; */
margin: 0 10px 0 0;
font-size: 12px;
}

.overview-recent-activities ul {
	list-style-type: none;
}
.overview-recent-activities ul li {
	margin-bottom: .25em;
	margin-top: .25em;
}
.overview-recent-activities h3 {
	margin-top: 1em;
}

.overview-statistics p.stats {
	font-size: 1.3em;
	margin: 0 0 .5em 0;
}
.overview-statistics p.stats em {
	font-weight: bold;
	font-style: normal;
}
.overview-statistics table th {
	text-align: left;
}
.overview-statistics table th,
.overview-statistics table td {
	padding: 0 15px 10px 0;
}


.ui-layout-resizer {
background-color: #eaeaea;
}
.ui-layout-resizer:hover {
background-color: #e0e0e0;
}
.ui-layout-toggler {
xbackground-color: #ccc;
}
.ui-layout-toggler:hover {
xbackground-color: #888;
}
.ui-layout-toggler-open {
background: transparent url(../images/toggle-lt.gif) no-repeat 0px 0px;
}
.ui-layout-toggler-closed {
background: transparent url(../images/toggle-rt.gif) no-repeat 0px 0px;
}

.polarbear-content-main-inner {
	padding: 10px;
}

/**
 * page fields
 */
#fieldEditFields li {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin-bottom: -1px;
	padding: 1em;
	background: white;
}
#fieldEditFields li:hover {
	background: lightyellow;
	cursor: move;
}
#fieldEditFields .delete {
	float: right;
}

#pb-message {
position: absolute;
top: 0;
left: 50%;
background-color: #fbffbe;
border-left: 1px solid #c3c694;
border-right: 1px solid #c3c694;
border-bottom: 1px solid #c3c694;
color: black;
font-weight: bold;
z-index: 99;
padding-right: 10px;
padding-left: 10px;
width: 300px;
margin-left: -150px;
display: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight
{
background-image: none;
background-color: #fbffbe;
border-color: #c3c694;
}

.polarbear-okmsg {
	margin-bottom: 1em;
}


/* jquery.alert */
#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(../images/alert-title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(../images/alert-info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(../images/alert-info.gif);
}

#popup_content.confirm {
	background-image: url(../images/alert-important.gif);
}

#popup_content.prompt {
	background-image: url(../images/alert-help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}
/* end jquery.alert */

#official-author-window {
	text-align: left;
	padding: 1em;
}
#official-author-window .or {
	font-size: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	clear: both;
	color: #888;
}

.tree-default li a, .tree-default li span {
	background-image: none;
}
